/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --first-color: hsl(36, 48%, 56%);
  --title-color: hsl(231, 24%, 20%);
  --text-color: hsl(231, 4%, 45%);
  --body-color: hsl(231, 100%, 99%);
  --container-color: #ffffff;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --tiny-font-size: .625rem;
}

@media screen and (min-width: 968px) {
  :root {
    --tiny-font-size: .688rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  height: 100%;
  width: 100%;
  background: url('../img/stars3.jpg') no-repeat center fixed;
  background-size: cover;
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*=============== NAVBAR ===============*/
.container {
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/*Remove the property of 100vh, when inserting its content*/
.container section {
  height: 80vh;
  margin: 2rem 0;
  border-radius: 6px;
  background-color: white;
  overflow-y: auto;
}

.container h2 {
  text-align: center;
  color: var(--title-color);
  padding-top: 2%;
}

/* Home Section */
#home {
  position: relative;
}

.youtube-video {
  aspect-ratio: 16 / 9;
  width: 80%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* Registry Section */
#registry {
  background: url('../img/us-reg.jpg') no-repeat center;
  background-size: cover;
}


#registry ul {
  width: 100%;
  height: 100%;
  position: relative;
}

.reg__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem .5rem;
  gap: 1rem;
}

.reg__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 60px;
  background-color: var(--first-color);
  color: var(--body-color);
  box-shadow: 0 8px 32px hsla(231, 44%, 45%, .2);
  border-radius: .65rem;
}

.reg__link span {
  margin: 0 auto;
}

.reg__link i {
  font-size: 2em;
  text-align: end;
  padding: 1.5rem .5rem;
  vertical-align: middle;  
}

/* Other Info Section */
.venue-block {
  width: 100%;
}

.maps-article {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50%;
}

.google-maps {
  height: 100%;
}

.google-maps iframe {
  width: 300px !important;
  height: 300px !important;
  box-shadow: 0 8px 32px hsla(231, 44%, 45%, .2);
}
.mobile-replace {
  display: none;
  margin: 0 auto;
}

.google-maps img {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  text-align: center;
}



.words-container {
  margin: 1em 4em;
}

/* Closing Section */
#closing {
  background: url('../img/us.jpg') no-repeat center;
  background-size: cover;
  margin-bottom: 15vh;
}

/* NAV Start */
.nav {
  position: fixed;
  bottom: 2rem;
  left: 0;
  right: 0;
  width: 328px;
  height: 72px;
  background-color: var(--container-color);
  box-shadow: 0 8px 32px hsla(231, 44%, 45%, .2);
  margin: 0 auto;
  padding: 1.5rem .5rem;
  border-radius: .65rem;
  overflow: hidden;
  z-index: 2;
}

.nav__list {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__link i {
  font-size: 1.5rem;
  color: var(--title-color);
  z-index: 20;
  transition: .3s;
}

.nav__name {
  font-size: var(--tiny-font-size);
  position: absolute;
  font-weight: 500;
  transition: .4s;
  transform: translateY(50px);
  z-index: 20;
  color: var(--body-color);
  opacity: 0;
}

/* Indicator link */
.indicator {
  position: absolute;
  left: 5px;
  bottom: 0;
  fill: var(--first-color);
  transition: .3s;
}

/* Active link */
.active-link i {
  color: var(--body-color);
}

.active-link .nav__name {
  opacity: 1;
  transform: translateY(28px);
}

/* Move indicator */
.nav__link:nth-child(1).active-link ~ .indicator {
  transform: translateX(calc(56px * 0));
}

.nav__link:nth-child(2).active-link ~ .indicator {
  transform: translateX(calc(56px * 1));
}

.nav__link:nth-child(3).active-link ~ .indicator {
  transform: translateX(calc(56px * 2));
}

.nav__link:nth-child(4).active-link ~ .indicator {
  transform: translateX(calc(56px * 3));
}

.nav__link:nth-child(5).active-link ~ .indicator {
  transform: translateX(calc(56px * 4));
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 375px) {
  .nav {
    zoom: .8;
  }
}

@media screen and (max-width: 500px) {
  .container section {
    height: 90vh;
  }

  .maps-article {
    flex-direction: column;
  }

  .words-container {
    margin: 0 2em;
  }

  .google-maps {
    top: 30%;
  } 
  .google-maps iframe {
    display: none;
  }
  .mobile-replace {
    display: block;
  }

}

@media screen and (max-width: 768px) {
  .google-maps {
    top: 30%;
    margin: 0 2em;
  }

  .google-maps iframe {
    width: 250px !important;
    height: 250px !important;

  }

  .container h2 {
    padding-top: 4%;
  }
  
}

/* For large devices */
@media screen and (min-width: 968px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  /* .google-maps {
    top: 35%;
  } */
  .nav {
    zoom: 1.1;
  }

  .locale-info .reg__list {
    flex-direction: row;
  }


}
